@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Nunito:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Quicksand:wght@400;500;600;700&display=swap');
@font-face {
  font-family: "BloksyOne";
  src: url("../src/fonts/Bloksy\ One.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Prueba animaciones de todos*/
.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-nunito {
    font-family: "Nunito", sans-serif;
}

.font-quicksand {
    font-family: "Quicksand", sans-serif;
}

.font-manrope {
    font-family: "Manrope", sans-serif;
}
.box {
    position: absolute;


    top: 0;
    left: 0;

    width: 50%;
    height: 100%;

    z-index: 1;

    transition: width 0.8s ease, border-radius 0.8s ease;
}

.box.expand {
    width: 100%;
        border-top-right-radius: 40px;
    border-bottom-right-radius:40px;
}

.login-form{
  position: relative;
  z-index: 2;
  
}


/*Fuente BloksyOne*/
.bloksy {
    font-family: "BloksyOne", sans-serif;
}
/*Fuente Rubik*/
.rubik {
  font-family: "Rubik", sans-serif;
}


/*Animacion del input login y register*/
.floating-input {
    position: relative;
    width: 100%;
}

.floating-input input {
    width: 100%;
    background: transparent;
    border: 1px solid #004aad;
    border-radius: 16px;

    padding: 24px 16px 12px 16px;

    outline: none;
    transition: all 0.15s;
}

.floating-input input:hover,
.floating-input input:focus,
.floating-input input:valid {
    border-color: #1a73e8;
}

.floating-input label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #8e8e8e;
    pointer-events: none;
    transition: all 0.15s;
}

.floating-input input:hover + label,
.floating-input input:focus + label,
.floating-input input:valid + label {
    top: 0;
    transform: translateY(-50%) scale(0.9);
    background: #f4ffff;
    padding: 0 4px;
    color: #2196f3;
}




/*Animacion del checkbox 'Mostrar contraseña'*/
.checkbox-wrapper-15 .cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.checkbox-wrapper-15 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-15 .cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid black;
  transition: all 0.2s ease;
}
.checkbox-wrapper-15 .cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: #f4ffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-15 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #004aad;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}
.checkbox-wrapper-15 .cbx:hover span:first-child {
  border-color: #004aad;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child {
  border-color: #004aad;
  background: #004aad;
  animation: check-15 0.6s ease;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child {
  color: rgb(255 255 255 / 10%);
  transition: all 0.3s ease;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

@keyframes check-15 {
  50% {
    transform: scale(1.2);
  }
}



/*Animaciond el panel*/
.panel {
    transition: all 1s ease;
}

.panel.move {
    transform: translateX(-20%);
    
}


/*Animacion del navbar*/
@keyframes navbarEnter {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    70% {
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-navbar {
    animation: navbarEnter 0.8s ease-out forwards;
}

/*para el circulo de carga*/

@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader-6 {
  position: absolute;
  scale: 0.275;
  transform: rotate(45deg);
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: #3c8af2;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
}

/*Buton send model*/

.btn-2 {
  position: relative;
  font-family: inherit;
  font-size: 14px;
  color: white;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 4px 12px; /* ↑↓ 4px  ←→ 12px */

  border: none;
  border-radius: 9999px;
  cursor: pointer;
  overflow: hidden;
  transition: all .2s;

  width: 180px;

}
.btn-2 span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-2 svg {
  transform: translateY(-2px);
  transition: all .3s ease;
}


.btn-2:hover .svg-wrapper {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-2:hover svg {
  transform: translateY(-2px) rotate(45deg) scale(1.1);
}

.btn-2:hover span {
  transform: translateX(10em);
}

.btn-2:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}



/*Loagin button*/
.loader-2 {
  width: 85px;
  height: 50px;
  --g1: conic-gradient(from 90deg at left 3px top 3px, #0000 90deg, #a4a0a7 0);
  --g2: conic-gradient(
    from -90deg at bottom 3px right 3px,
    #0000 90deg,
    #a4a0a7 0
  );
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-position: left, center, right;
  background-repeat: no-repeat;
  position: absolute;
  scale: 0.4;
  animation: l9 1s infinite;
}
@keyframes l9 {
  0% {
    background-size: 25px 50%, 25px 50%, 25px 50%;
  }
  25% {
    background-size: 25px 100%, 25px 50%, 25px 50%;
  }
  50% {
    background-size: 25px 50%, 25px 100%, 25px 50%;
  }
  75% {
    background-size: 25px 50%, 25px 50%, 25px 100%;
  }
  100% {
    background-size: 25px 50%, 25px 50%, 25px 50%;
  }
}